*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  font-size: 16px;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400; }

html {
  font-size: 62.5%; }

a:link, a:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: inherit; }

.features {
  background-color: #f7f7f7;
  padding: 25rem 0; }

.header {
  background-color: #c7c6c6;
  margin: 0;
  height: 5rem;
  width: 100%;
  display: flex;
  text-transform: uppercase;
  justify-content: space-around;
  text-align: center;
  align-items: center; }
  .header__search-icon {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(100%, -50%);
    color: black; }
  .header__profile-image {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%; }
  .header__title {
    font-weight: 700;
    color: #f7f7f7; }
  .header__input {
    width: 40rem;
    border: none;
    border-radius: 3px;
    padding: 2px 2px;
    outline: none;
    height: 3rem; }
    .header__input--div {
      display: relative; }
